@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  text-align: center;
  margin: 0 auto;
  font-family: "Poppins", "sans-serif";
}

.carousel-container {
  display: flex;
}

.avatars {
  border-radius: 50%;
  height: 100px;
  margin-top: -6em;
}

.cards {
  display: flex;
  background-color: antiquewhite;
  width: 100%;
  position: absolute;
}

.card {
  margin: 5em 2em 3em;
  background-color: ivory;
  padding: 2em;
  width: 500px;
  height: 200px;
  flex: 1; /* each card is of equal size */
  box-shadow: 6px 6px 17px 1px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 6px 6px 17px 1px rgba(0, 0, 0, 0.36);
  /* transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s; */
}

.left {
  margin-right: -15em;
  margin-top: 6em;
}

.right {
  margin-left: -15em;
  margin-top: 6em;
}

.active {
  z-index: 1;
  height: 250px;
}

.active .name {
  margin-top: -1em;
}

.arrow-container {
  margin-top: -9.5em;
  margin-left: -1em;
  display: flex;
  justify-content: space-between;
  width: 106%;
}

.arrow {
  height: 3em;
}

.name {
  margin-top: .5em;
  margin-bottom: -.4em;
}

p {
  padding: 0em 2.5em;
}

.quotes {
  width: 50px;
}

.quote-left {
  margin-top: -4em;
  margin-left: -29em;
}

.quote-right {
  margin-left: 29em;
  transform: rotate(180deg);
  margin-top: 3em;
}
