.App {
  text-align: center;
  background-color: #282c34;
  margin: 0 auto;
  box-sizing: border-box;
}

.carousel-container {
  display: flex;
  height: 350px;
  width: 100%;
}

.item {
  margin: 1em;
  background-color: ivory;
  padding: 10px 40px;
}

.image {
  clip-path: circle(50% at 50% 50%);
  height: 100px;
}